In [ ]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('course.csv')
df.head()

   1     Mumbai       PQR institute .Pvt            BI  MH   9 Months
0  2      Delhi   ABC institute .Pvt.LTD            AI  UP  18 Months
1  3  Bengaluru      MNO  institute .Ltd  Data Science  TN  11 Months
2  4     Bhopal  RST  institute .Pvt.LTD            ML  MP   3 Months
3  5     Mumbai  EFG  institute .Pvt.LTD            DL  MH   3 Months
4  6  Hyderabad          LMN  institute          Could  AP   4 Months

**1. Adding Columns Name/Header**

In [ ]:
col = ["Sr No","City","Coaching Centre","Courses","State","Course Duration"]
df = pd.read_csv('course.csv', header = None, names = col)     #header = none -> there will be no old header, the old headers will be shifted one cell down
df.head()

,Sr No,City,Coaching Centre,Courses,State,Course Duration
0,1,Mumbai,PQR institute .Pvt,BI,MH,9 Months
1,2,Delhi,ABC institute .Pvt.LTD,AI,UP,18 Months
2,3,Bengaluru,MNO institute .Ltd,Data Science,TN,11 Months
3,4,Bhopal,RST institute .Pvt.LTD,ML,MP,3 Months
4,5,Mumbai,EFG institute .Pvt.LTD,DL,MH,3 Months

In [ ]:
df.City

0        Mumbai
1         Delhi
2     Bengaluru
3        Bhopal
4        Mumbai
5     Hyderabad
6         Patna
7       Channai
8       Kolkata
9     Hyderabad
10       Bhopal
11         Pune
12        Delhi
13       Mumbai
14        Patna
15        Surat
16        Delhi
17       Mumbai
18         Pune
19    Bengaluru
20        Surat
21    Hyderabad
22       Mumbai
23      Channai
24        Patna
Name: City, dtype: object

In [ ]:
df.City.head()

0       Mumbai
1        Delhi
2    Bengaluru
3       Bhopal
4       Mumbai
Name: City, dtype: object

In [ ]:
df.Coaching Centre    #error

In [ ]:
df["Coaching Centre"].head()    #Solution

0         PQR institute .Pvt
1     ABC institute .Pvt.LTD
2        MNO  institute .Ltd
3    RST  institute .Pvt.LTD
4    EFG  institute .Pvt.LTD
Name: Coaching Centre, dtype: object

Adding New Column

In [ ]:
df.City + ", " + df.State

0        Mumbai, MH
1         Delhi, UP
2     Bengaluru, TN
3        Bhopal, MP
4        Mumbai, MH
5     Hyderabad, AP
6         Patna, BH
7       Channai, KT
8       Kolkata, WB
9     Hyderabad, AP
10       Bhopal, MP
11         Pune, MH
12        Delhi, UP
13       Mumbai, MH
14        Patna, BH
15        Surat, GJ
16        Delhi, UP
17       Mumbai, MH
18         Pune, MH
19    Bengaluru, TN
20        Surat, Gj
21    Hyderabad, AP
22       Mumbai, MH
23      Channai, KT
24        Patna, BH
dtype: object

In [ ]:
df.City.head() + ", " + df.State.head()

0       Mumbai, MH
1        Delhi, UP
2    Bengaluru, TN
3       Bhopal, MP
4       Mumbai, MH
dtype: object

In [ ]:
df["Location"] = df.City + ", " + df.State #adding new column in dataframe
df.head()

,Sr No,City,Coaching Centre,Courses,State,Course Duration,Location
0,1,Mumbai,PQR institute .Pvt,BI,MH,9 Months,"Mumbai, MH"
1,2,Delhi,ABC institute .Pvt.LTD,AI,UP,18 Months,"Delhi, UP"
2,3,Bengaluru,MNO institute .Ltd,Data Science,TN,11 Months,"Bengaluru, TN"
3,4,Bhopal,RST institute .Pvt.LTD,ML,MP,3 Months,"Bhopal, MP"
4,5,Mumbai,EFG institute .Pvt.LTD,DL,MH,3 Months,"Mumbai, MH"

**2. Deleting Column**

In [ ]:
df.drop("City", axis = 1).head()

,Sr No,Coaching Centre,Courses,State,Course Duration,Location
0,1,PQR institute .Pvt,BI,MH,9 Months,"Mumbai, MH"
1,2,ABC institute .Pvt.LTD,AI,UP,18 Months,"Delhi, UP"
2,3,MNO institute .Ltd,Data Science,TN,11 Months,"Bengaluru, TN"
3,4,RST institute .Pvt.LTD,ML,MP,3 Months,"Bhopal, MP"
4,5,EFG institute .Pvt.LTD,DL,MH,3 Months,"Mumbai, MH"

In [ ]:
df

,Sr No,City,Coaching Centre,Courses,State,Course Duration,Location
0,1,Mumbai,PQR institute .Pvt,BI,MH,9 Months,"Mumbai, MH"
1,2,Delhi,ABC institute .Pvt.LTD,AI,UP,18 Months,"Delhi, UP"
2,3,Bengaluru,MNO institute .Ltd,Data Science,TN,11 Months,"Bengaluru, TN"
3,4,Bhopal,RST institute .Pvt.LTD,ML,MP,3 Months,"Bhopal, MP"
4,5,Mumbai,EFG institute .Pvt.LTD,DL,MH,3 Months,"Mumbai, MH"
5,6,Hyderabad,LMN institute,Could,AP,4 Months,"Hyderabad, AP"
6,7,Patna,DEF institute .Ltd,Web Serv,BH,4 Months,"Patna, BH"
7,8,Channai,PQR institute .Pvt.LTD,AWS,KT,3 Months,"Channai, KT"
8,9,Kolkata,UVW institute .Ltd,Networking,WB,3 Months,"Kolkata, WB"
9,10,Hyderabad,GHI institute .Ltd,AI,AP,18 Months,"Hyderabad, AP"
10,11,Bhopal,IJK institute,DL,MP,3 Months,"Bhopal, MP"
11,12,Pune,KLM institute .Ltd,Data Science,MH,11 Months,"Pune, MH"
12,13,Delhi,STU institute .Ltd,BI,UP,6 Months,"Delhi, UP"
13,14,Mumbai,XYZ institute .Pvt.LTD,Could,MH,3 Months,"Mumbai, MH"
14,15,Patna,NOP institute .Ltd,AWS,BH,3 Months,"Patna, BH"
15,16,Surat,QRS institute .Ltd,ML,GJ,3 Months,"Surat, GJ"
16,17,Delhi,WXY institute,AWS,UP,3 Months,"Delhi, UP"
17,18,Mumbai,ZAB institute,Web Serv,MH,4 Months,"Mumbai, MH"
18,19,Pune,CDE institute .Ltd,Data Science,MH,11 Months,"Pune, MH"
19,20,Bengaluru,JKL institute .Pvt.LTD,AI,TN,18 Months,"Bengaluru, TN"
20,21,Surat,INS institute,Data Science,Gj,11 Months,"Surat, Gj"
21,22,Hyderabad,ZAP institute .Ltd,ML,AP,3 Months,"Hyderabad, AP"
22,23,Mumbai,XCAD institute .Pvt.LTD,DL,MH,3 Months,"Mumbai, MH"
23,24,Channai,MTK institute,Could,KT,4 Months,"Channai, KT"
24,25,Patna,BST institute .Ltd,Web Serv,BH,4 Months,"Patna, BH"

In [ ]:
df.drop("City", axis = 1, inplace = True)

In [ ]:
df.drop(["Courses","State"], axis = 1, inplace=True, errors = "ignore")
df.head()

   Sr No          Coaching Centre Course Duration       Location
0      1       PQR institute .Pvt        9 Months     Mumbai, MH
1      2   ABC institute .Pvt.LTD       18 Months      Delhi, UP
2      3      MNO  institute .Ltd       11 Months  Bengaluru, TN
3      4  RST  institute .Pvt.LTD        3 Months     Bhopal, MP
4      5  EFG  institute .Pvt.LTD        3 Months     Mumbai, MH

Deleting Rows

In [ ]:
df.drop(2, axis = 0).head()      # 2 represents index_no

   Sr No          Coaching Centre Course Duration       Location
0      1       PQR institute .Pvt        9 Months     Mumbai, MH
1      2   ABC institute .Pvt.LTD       18 Months      Delhi, UP
3      4  RST  institute .Pvt.LTD        3 Months     Bhopal, MP
4      5  EFG  institute .Pvt.LTD        3 Months     Mumbai, MH
5      6          LMN  institute         4 Months  Hyderabad, AP

In [ ]:
df.drop([1,4,7,9], axis = 0, inplace=True)
df.head(10)

    Sr No          Coaching Centre Course Duration       Location
0       1       PQR institute .Pvt        9 Months     Mumbai, MH
2       3      MNO  institute .Ltd       11 Months  Bengaluru, TN
3       4  RST  institute .Pvt.LTD        3 Months     Bhopal, MP
5       6          LMN  institute         4 Months  Hyderabad, AP
6       7     DEF   institute .Ltd        4 Months      Patna, BH
8       9      UVW  institute .Ltd        3 Months    Kolkata, WB
10     11         IJK   institute         3 Months     Bhopal, MP
11     12     KLM   institute .Ltd       11 Months       Pune, MH
12     13      STU  institute .Ltd        6 Months      Delhi, UP
13     14  XYZ  institute .Pvt.LTD        3 Months     Mumbai, MH

**3. Setting New Indexes**

In [ ]:
col = ["Sr No","City","Coaching Centre","Courses","State","Course Duration"]
df = pd.read_csv('course.csv', header = None, names = col)     #header = none -> there will be no old header, the old headers will be shifted one cell down
df.head()

,Sr No,City,Coaching Centre,Courses,State,Course Duration
0,1,Mumbai,PQR institute .Pvt,BI,MH,9 Months
1,2,Delhi,ABC institute .Pvt.LTD,AI,UP,18 Months
2,3,Bengaluru,MNO institute .Ltd,Data Science,TN,11 Months
3,4,Bhopal,RST institute .Pvt.LTD,ML,MP,3 Months
4,5,Mumbai,EFG institute .Pvt.LTD,DL,MH,3 Months

In [ ]:
df.set_index("Courses", inplace = True)
df.head()

              Sr No       City          Coaching Centre State Course Duration
Courses
BI                1     Mumbai       PQR institute .Pvt    MH        9 Months
AI                2      Delhi   ABC institute .Pvt.LTD    UP       18 Months
Data Science      3  Bengaluru      MNO  institute .Ltd    TN       11 Months
ML                4     Bhopal  RST  institute .Pvt.LTD    MP        3 Months
DL                5     Mumbai  EFG  institute .Pvt.LTD    MH        3 Months

Reseting the Index

In [ ]:
df.index.name = "Courses"
df.reset_index(inplace=True)
df.head()

,Courses,Sr No,City,Coaching Centre,State,Course Duration
0,BI,1,Mumbai,PQR institute .Pvt,MH,9 Months
1,AI,2,Delhi,ABC institute .Pvt.LTD,UP,18 Months
2,Data Science,3,Bengaluru,MNO institute .Ltd,TN,11 Months
3,ML,4,Bhopal,RST institute .Pvt.LTD,MP,3 Months
4,DL,5,Mumbai,EFG institute .Pvt.LTD,MH,3 Months

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
type(df.City)

pandas.core.series.Series

**Methods & Attributes in Pandas**

In [ ]:
df = pd.read_csv("movies.csv")
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.star_rating.mean()

In [ ]:
df.star_rating.median()

In [ ]:
df.star_rating.mode()

In [ ]:
df.star_rating.std()

In [ ]:
df.star_rating.min()

In [ ]:
df.star_rating.max()

In [ ]:
df.describe()

In [ ]:
df.describe(include=("object"))

In [ ]:
df.title.value_counts()

**Sorting**

In [ ]:
df.head()

In [ ]:
df.title.sort_values().head(20)

In [ ]:
df.title.sort_values(ascending=False).head(20)

In [ ]:
df.sort_values("title").head(20)

In [ ]:
df.sort_values(["star_rating","duration"])

In [ ]:
df.sort_values(["star_rating","duration"], ascending=False)