In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('course.csv')
df.head()

   1     Mumbai       PQR institute .Pvt            BI  MH   9 Months
0  2      Delhi   ABC institute .Pvt.LTD            AI  UP  18 Months
1  3  Bengaluru      MNO  institute .Ltd  Data Science  TN  11 Months
2  4     Bhopal  RST  institute .Pvt.LTD            ML  MP   3 Months
3  5     Mumbai  EFG  institute .Pvt.LTD            DL  MH   3 Months
4  6  Hyderabad          LMN  institute          Could  AP   4 Months

**1. Adding Columns Name/Header**

In [3]:
col = ["Sr No","City","Coaching Centre","Courses","State","Course Duration"]
df = pd.read_csv('course.csv', header = None, names = col)     #header = none -> there will be no old header, the old headers will be shifted one cell down
df.head()

,Sr No,City,Coaching Centre,Courses,State,Course Duration
0,1,Mumbai,PQR institute .Pvt,BI,MH,9 Months
1,2,Delhi,ABC institute .Pvt.LTD,AI,UP,18 Months
2,3,Bengaluru,MNO institute .Ltd,Data Science,TN,11 Months
3,4,Bhopal,RST institute .Pvt.LTD,ML,MP,3 Months
4,5,Mumbai,EFG institute .Pvt.LTD,DL,MH,3 Months

In [4]:
df.City

0        Mumbai
1         Delhi
2     Bengaluru
3        Bhopal
4        Mumbai
5     Hyderabad
6         Patna
7       Channai
8       Kolkata
9     Hyderabad
10       Bhopal
11         Pune
12        Delhi
13       Mumbai
14        Patna
15        Surat
16        Delhi
17       Mumbai
18         Pune
19    Bengaluru
20        Surat
21    Hyderabad
22       Mumbai
23      Channai
24        Patna
Name: City, dtype: object

In [5]:
df.City.head()

0       Mumbai
1        Delhi
2    Bengaluru
3       Bhopal
4       Mumbai
Name: City, dtype: object

In [6]:
#df.Coaching Centre    #error

In [7]:
df["Coaching Centre"].head()    #Solution

0         PQR institute .Pvt
1     ABC institute .Pvt.LTD
2        MNO  institute .Ltd
3    RST  institute .Pvt.LTD
4    EFG  institute .Pvt.LTD
Name: Coaching Centre, dtype: object

Adding New Column

In [8]:
df.City + ", " + df.State

0        Mumbai, MH
1         Delhi, UP
2     Bengaluru, TN
3        Bhopal, MP
4        Mumbai, MH
5     Hyderabad, AP
6         Patna, BH
7       Channai, KT
8       Kolkata, WB
9     Hyderabad, AP
10       Bhopal, MP
11         Pune, MH
12        Delhi, UP
13       Mumbai, MH
14        Patna, BH
15        Surat, GJ
16        Delhi, UP
17       Mumbai, MH
18         Pune, MH
19    Bengaluru, TN
20        Surat, Gj
21    Hyderabad, AP
22       Mumbai, MH
23      Channai, KT
24        Patna, BH
dtype: object

In [9]:
df.City.head() + ", " + df.State.head()

0       Mumbai, MH
1        Delhi, UP
2    Bengaluru, TN
3       Bhopal, MP
4       Mumbai, MH
dtype: object

In [10]:
df["Location"] = df.City + ", " + df.State #adding new column in dataframe
df.head()

,Sr No,City,Coaching Centre,Courses,State,Course Duration,Location
0,1,Mumbai,PQR institute .Pvt,BI,MH,9 Months,"Mumbai, MH"
1,2,Delhi,ABC institute .Pvt.LTD,AI,UP,18 Months,"Delhi, UP"
2,3,Bengaluru,MNO institute .Ltd,Data Science,TN,11 Months,"Bengaluru, TN"
3,4,Bhopal,RST institute .Pvt.LTD,ML,MP,3 Months,"Bhopal, MP"
4,5,Mumbai,EFG institute .Pvt.LTD,DL,MH,3 Months,"Mumbai, MH"

**2. Deleting Column**

In [11]:
df.drop("City", axis = 1).head()

,Sr No,Coaching Centre,Courses,State,Course Duration,Location
0,1,PQR institute .Pvt,BI,MH,9 Months,"Mumbai, MH"
1,2,ABC institute .Pvt.LTD,AI,UP,18 Months,"Delhi, UP"
2,3,MNO institute .Ltd,Data Science,TN,11 Months,"Bengaluru, TN"
3,4,RST institute .Pvt.LTD,ML,MP,3 Months,"Bhopal, MP"
4,5,EFG institute .Pvt.LTD,DL,MH,3 Months,"Mumbai, MH"

In [12]:
df

,Sr No,City,Coaching Centre,Courses,State,Course Duration,Location
0,1,Mumbai,PQR institute .Pvt,BI,MH,9 Months,"Mumbai, MH"
1,2,Delhi,ABC institute .Pvt.LTD,AI,UP,18 Months,"Delhi, UP"
2,3,Bengaluru,MNO institute .Ltd,Data Science,TN,11 Months,"Bengaluru, TN"
3,4,Bhopal,RST institute .Pvt.LTD,ML,MP,3 Months,"Bhopal, MP"
4,5,Mumbai,EFG institute .Pvt.LTD,DL,MH,3 Months,"Mumbai, MH"
5,6,Hyderabad,LMN institute,Could,AP,4 Months,"Hyderabad, AP"
6,7,Patna,DEF institute .Ltd,Web Serv,BH,4 Months,"Patna, BH"
7,8,Channai,PQR institute .Pvt.LTD,AWS,KT,3 Months,"Channai, KT"
8,9,Kolkata,UVW institute .Ltd,Networking,WB,3 Months,"Kolkata, WB"
9,10,Hyderabad,GHI institute .Ltd,AI,AP,18 Months,"Hyderabad, AP"
10,11,Bhopal,IJK institute,DL,MP,3 Months,"Bhopal, MP"
11,12,Pune,KLM institute .Ltd,Data Science,MH,11 Months,"Pune, MH"
12,13,Delhi,STU institute .Ltd,BI,UP,6 Months,"Delhi, UP"
13,14,Mumbai,XYZ institute .Pvt.LTD,Could,MH,3 Months,"Mumbai, MH"
14,15,Patna,NOP institute .Ltd,AWS,BH,3 Months,"Patna, BH"
15,16,Surat,QRS institute .Ltd,ML,GJ,3 Months,"Surat, GJ"
16,17,Delhi,WXY institute,AWS,UP,3 Months,"Delhi, UP"
17,18,Mumbai,ZAB institute,Web Serv,MH,4 Months,"Mumbai, MH"
18,19,Pune,CDE institute .Ltd,Data Science,MH,11 Months,"Pune, MH"
19,20,Bengaluru,JKL institute .Pvt.LTD,AI,TN,18 Months,"Bengaluru, TN"
20,21,Surat,INS institute,Data Science,Gj,11 Months,"Surat, Gj"
21,22,Hyderabad,ZAP institute .Ltd,ML,AP,3 Months,"Hyderabad, AP"
22,23,Mumbai,XCAD institute .Pvt.LTD,DL,MH,3 Months,"Mumbai, MH"
23,24,Channai,MTK institute,Could,KT,4 Months,"Channai, KT"
24,25,Patna,BST institute .Ltd,Web Serv,BH,4 Months,"Patna, BH"

In [13]:
df.drop("City", axis = 1, inplace = True)

In [14]:
df.drop(["Courses","State"], axis = 1, inplace=True, errors = "ignore")
df.head()

   Sr No          Coaching Centre Course Duration       Location
0      1       PQR institute .Pvt        9 Months     Mumbai, MH
1      2   ABC institute .Pvt.LTD       18 Months      Delhi, UP
2      3      MNO  institute .Ltd       11 Months  Bengaluru, TN
3      4  RST  institute .Pvt.LTD        3 Months     Bhopal, MP
4      5  EFG  institute .Pvt.LTD        3 Months     Mumbai, MH

Deleting Rows

In [15]:
df.drop(2, axis = 0).head()      # 2 represents index_no

   Sr No          Coaching Centre Course Duration       Location
0      1       PQR institute .Pvt        9 Months     Mumbai, MH
1      2   ABC institute .Pvt.LTD       18 Months      Delhi, UP
3      4  RST  institute .Pvt.LTD        3 Months     Bhopal, MP
4      5  EFG  institute .Pvt.LTD        3 Months     Mumbai, MH
5      6          LMN  institute         4 Months  Hyderabad, AP

In [16]:
df.drop([1,4,7,9], axis = 0, inplace=True)
df.head(10)

    Sr No          Coaching Centre Course Duration       Location
0       1       PQR institute .Pvt        9 Months     Mumbai, MH
2       3      MNO  institute .Ltd       11 Months  Bengaluru, TN
3       4  RST  institute .Pvt.LTD        3 Months     Bhopal, MP
5       6          LMN  institute         4 Months  Hyderabad, AP
6       7     DEF   institute .Ltd        4 Months      Patna, BH
8       9      UVW  institute .Ltd        3 Months    Kolkata, WB
10     11         IJK   institute         3 Months     Bhopal, MP
11     12     KLM   institute .Ltd       11 Months       Pune, MH
12     13      STU  institute .Ltd        6 Months      Delhi, UP
13     14  XYZ  institute .Pvt.LTD        3 Months     Mumbai, MH

**3. Setting New Indexes**

In [17]:
col = ["Sr No","City","Coaching Centre","Courses","State","Course Duration"]
df = pd.read_csv('course.csv', header = None, names = col)     #header = none -> there will be no old header, the old headers will be shifted one cell down
df.head()

,Sr No,City,Coaching Centre,Courses,State,Course Duration
0,1,Mumbai,PQR institute .Pvt,BI,MH,9 Months
1,2,Delhi,ABC institute .Pvt.LTD,AI,UP,18 Months
2,3,Bengaluru,MNO institute .Ltd,Data Science,TN,11 Months
3,4,Bhopal,RST institute .Pvt.LTD,ML,MP,3 Months
4,5,Mumbai,EFG institute .Pvt.LTD,DL,MH,3 Months

In [18]:
df.set_index("Courses", inplace = True)
df.head()

              Sr No       City          Coaching Centre State Course Duration
Courses
BI                1     Mumbai       PQR institute .Pvt    MH        9 Months
AI                2      Delhi   ABC institute .Pvt.LTD    UP       18 Months
Data Science      3  Bengaluru      MNO  institute .Ltd    TN       11 Months
ML                4     Bhopal  RST  institute .Pvt.LTD    MP        3 Months
DL                5     Mumbai  EFG  institute .Pvt.LTD    MH        3 Months

Reseting the Index

In [19]:
df.index.name = "Courses"
df.reset_index(inplace=True)
df.head()

,Courses,Sr No,City,Coaching Centre,State,Course Duration
0,BI,1,Mumbai,PQR institute .Pvt,MH,9 Months
1,AI,2,Delhi,ABC institute .Pvt.LTD,UP,18 Months
2,Data Science,3,Bengaluru,MNO institute .Ltd,TN,11 Months
3,ML,4,Bhopal,RST institute .Pvt.LTD,MP,3 Months
4,DL,5,Mumbai,EFG institute .Pvt.LTD,MH,3 Months

In [20]:
type(df)

pandas.core.frame.DataFrame

In [21]:
type(df.City)

pandas.core.series.Series

**Methods & Attributes in Pandas**

In [22]:
df = pd.read_csv("movies.csv")
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [23]:
df.tail()

,star_rating,title,content_rating,genre,duration,actors_list
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   star_rating     979 non-null    float64
 1   title           979 non-null    object
 2   content_rating  976 non-null    object
 3   genre           979 non-null    object
 4   duration        979 non-null    int64
 5   actors_list     979 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

In [25]:
df.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [26]:
df.shape

(979, 6)

In [27]:
df.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [28]:
df.star_rating.mean()

np.float64(7.889785495403474)

In [29]:
df.star_rating.median()

7.8

In [30]:
df.star_rating.mode()

0    7.6
Name: star_rating, dtype: float64

In [31]:
df.star_rating.std()

0.336069326147959

In [32]:
df.star_rating.min()

7.4

In [33]:
df.star_rating.max()

9.3

In [34]:
df.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [35]:
df.describe(include=("object"))

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,Dracula,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

In [36]:
df.title.value_counts()

title
Dracula                            2
The Girl with the Dragon Tattoo    2
True Grit                          2
Les Miserables                     2
This Is England                    1
                                  ..
Nosferatu                          1
Black Swan                         1
Ratatouille                        1
The Searchers                      1
Magnolia                           1
Name: count, Length: 975, dtype: int64

**Sorting**

In [37]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [38]:
df.title.sort_values().head(20)

542            (500) Days of Summer
5                      12 Angry Men
201                12 Years a Slave
698                       127 Hours
110           2001: A Space Odyssey
910                            2046
596                        21 Grams
624                       25th Hour
708                28 Days Later...
60                         3 Idiots
225                          3-Iron
570                             300
555                    3:10 to Yuma
427    4 Months, 3 Weeks and 2 Days
824                              42
597                           50/50
203                           8 1/2
170                A Beautiful Mind
941                A Bridge Too Far
571                    A Bronx Tale
Name: title, dtype: object

In [39]:
df.title.sort_values(ascending=False).head(20)

864                          [Rec]
526                           Zulu
615                     Zombieland
677                         Zodiac
955               Zero Dark Thirty
535                          Zelig
280             Young Frankenstein
96                         Yojimbo
235                        Yip Man
403                     Ying xiong
695              Y Tu Mama Tambien
871                             X2
532             X-Men: First Class
248     X-Men: Days of Future Past
954                          X-Men
518                 Wreck-It Ralph
970                    Wonder Boys
65     Witness for the Prosecution
920                        Witness
483                   Withnail & I
Name: title, dtype: object

In [40]:
df.sort_values("title").head(20)

,star_rating,title,content_rating,genre,duration,actors_list
542,7.8,(500) Days of Summer,PG-13,Comedy,95,"[u'Zooey Deschanel', u'Joseph Gordon-Levitt', ..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
201,8.1,12 Years a Slave,R,Biography,134,"[u'Chiwetel Ejiofor', u'Michael Kenneth Willia..."
698,7.6,127 Hours,R,Adventure,94,"[u'James Franco', u'Amber Tamblyn', u'Kate Mara']"
110,8.3,2001: A Space Odyssey,G,Mystery,160,"[u'Keir Dullea', u'Gary Lockwood', u'William S..."
910,7.5,2046,R,Drama,129,"[u'Tony Chiu Wai Leung', u'Ziyi Zhang', u'Faye..."
596,7.7,21 Grams,R,Crime,124,"[u'Sean Penn', u'Benicio Del Toro', u'Naomi Wa..."
624,7.7,25th Hour,R,Crime,135,"[u'Edward Norton', u'Barry Pepper', u'Philip S..."
708,7.6,28 Days Later...,R,Horror,113,"[u'Cillian Murphy', u'Naomie Harris', u'Christ..."
60,8.5,3 Idiots,PG-13,Comedy,170,"[u'Aamir Khan', u'Madhavan', u'Mona Singh']"
225,8.1,3-Iron,R,Crime,88,"[u'Seung-yeon Lee', u'Hyun-kyoon Lee', u'Hyuk-..."
570,7.8,300,R,Action,117,"[u'Gerard Butler', u'Lena Headey', u'David Wen..."
555,7.8,3:10 to Yuma,R,Adventure,122,"[u'Russell Crowe', u'Christian Bale', u'Ben Fo..."
427,7.9,"4 Months, 3 Weeks and 2 Days",NOT RATED,Drama,113,"[u'Anamaria Marinca', u'Vlad Ivanov', u'Laura ..."
824,7.5,42,PG-13,Biography,128,"[u'Chadwick Boseman', u'T.R. Knight', u'Harris..."
597,7.7,50/50,R,Comedy,100,"[u'Joseph Gordon-Levitt', u'Seth Rogen', u'Ann..."
203,8.1,8 1/2,NOT RATED,Drama,138,"[u'Marcello Mastroianni', u'Anouk Aim\xe9e', u..."
170,8.2,A Beautiful Mind,PG-13,Biography,135,"[u'Russell Crowe', u'Ed Harris', u'Jennifer Co..."
941,7.4,A Bridge Too Far,PG,Drama,175,"[u'Sean Connery', u""Ryan O'Neal"", u'Michael Ca..."
571,7.8,A Bronx Tale,R,Crime,121,"[u'Robert De Niro', u'Chazz Palminteri', u'Lil..."

In [41]:
df.sort_values(["star_rating","duration"])

,star_rating,title,content_rating,genre,duration,actors_list
938,7.4,Alice in Wonderland,G,Animation,75,"[u'Kathryn Beaumont', u'Ed Wynn', u'Richard Ha..."
948,7.4,Frances Ha,R,Comedy,86,"[u'Greta Gerwig', u'Mickey Sumner', u'Adam Dri..."
966,7.4,The Simpsons Movie,PG-13,Animation,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
...,...,...,...,...,...,...
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

In [42]:
df.sort_values(["star_rating","duration"], ascending=False)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
...,...,...,...,...,...,...
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
947,7.4,Eraserhead,UNRATED,Drama,89,"[u'Jack Nance', u'Charlotte Stewart', u'Allen ..."
966,7.4,The Simpsons Movie,PG-13,Animation,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy..."
948,7.4,Frances Ha,R,Comedy,86,"[u'Greta Gerwig', u'Mickey Sumner', u'Adam Dri..."
938,7.4,Alice in Wonderland,G,Animation,75,"[u'Kathryn Beaumont', u'Ed Wynn', u'Richard Ha..."

**Filtering**

In [43]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [44]:
bx = []                                # filtering movies whose duration is more than or equal to 200

for length in df.duration:
    if length >= 200:
        bx.append(True)
    else:
        bx.append(False)

In [46]:
bx[:10]

[False, False, True, False, False, False, False, True, False, False]

In [65]:
sbx = pd.Series(bx)
df[sbx].head()

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."

In [66]:
mask = df["duration"]>=100
df[mask].head()                                 #masking/filtering for movies based on duration greater than or equal to 100

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [67]:
df[df.duration>=200]["title"].head()               #filtering based on duration >=200 only titles

2                            The Godfather: Part II
7     The Lord of the Rings: The Return of the King
17                                    Seven Samurai
78                      Once Upon a Time in America
85                               Lawrence of Arabia
Name: title, dtype: object

In [68]:
df[df.duration>=200].genre.head()               #filtering based on duration >=200 only genre names

2         Crime
7     Adventure
17        Drama
78        Crime
85    Adventure
Name: genre, dtype: object

In [54]:
df[(df.duration>=200) & (df.genre == "Crime")]               #filtering based on CONDITIONS -> duration >=200 & genre == Crime

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."

In [69]:
df[(df.duration>=200) | (df.genre == "Crime")].head()        #filtering based on CONDITIONS -> duration >=200 or genre == Crime

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."

In [70]:
df[(df.genre == "Crime") | (df.genre == "Drama") | (df.genre == "Action")].head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [72]:
df[df.genre.isin(["Crime","Drama","Action"])].head()                  #.isin() method checks if each element in the df.genre Series is present in the provided list of genres.

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."