In [3]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [7]:
df = pd.read_csv("course.csv")
df.head()

   1     Mumbai       PQR institute .Pvt            BI  MH   9 Months
0  2      Delhi   ABC institute .Pvt.LTD            AI  UP  18 Months
1  3  Bengaluru      MNO  institute .Ltd  Data Science  TN  11 Months
2  4     Bhopal  RST  institute .Pvt.LTD            ML  MP   3 Months
3  5     Mumbai  EFG  institute .Pvt.LTD            DL  MH   3 Months
4  6  Hyderabad          LMN  institute          Could  AP   4 Months

Adding Columns Name

In [8]:
col = ["Sr No","City","Coaching Center","Course","State","Course Duration"]
df = pd.read_csv("course.csv", header = None, names = col)
df.head()

,Sr No,City,Coaching Center,Course,State,Course Duration
0,1,Mumbai,PQR institute .Pvt,BI,MH,9 Months
1,2,Delhi,ABC institute .Pvt.LTD,AI,UP,18 Months
2,3,Bengaluru,MNO institute .Ltd,Data Science,TN,11 Months
3,4,Bhopal,RST institute .Pvt.LTD,ML,MP,3 Months
4,5,Mumbai,EFG institute .Pvt.LTD,DL,MH,3 Months

Selecting a column from df

cols -> Feature, Attributes

1. Dot Notation

In [10]:
df.City.head()

0       Mumbai
1        Delhi
2    Bengaluru
3       Bhopal
4       Mumbai
Name: City, dtype: object

2. Bracket Notation

In [11]:
df["Coaching Center"].head()

0         PQR institute .Pvt
1     ABC institute .Pvt.LTD
2        MNO  institute .Ltd
3    RST  institute .Pvt.LTD
4    EFG  institute .Pvt.LTD
Name: Coaching Center, dtype: object

Selecting Multiple Columns with Bracket Notation

In [12]:
df[["State","City","Course"]].tail()

   State       City        Course
20    Gj      Surat  Data Science
21    AP  Hyderabad            ML
22    MH     Mumbai            DL
23    KT    Channai         Could
24    BH      Patna      Web Serv