In [84]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [85]:
df = pd.read_csv("students_marks.csv", sep =',')
df.head(10)

   Roll_No  Maths  Science  English
0        1     93       37       84
1        2     83       41       44
2        3     41       36       82
3        4     69       59       43
4        5     31       52       74
5        6     71       54       61
6        7    100       45       38
7        8     76       40       76
8        9     70       35       35
9       10     50       60       75

In [86]:
df[df.Roll_No == 2]

   Roll_No  Maths  Science  English
1        2     83       41       44

Performing numpy operations on df

In [87]:
np.array(df)

array([[  1,  93,  37,  84],
       [  2,  83,  41,  44],
       [  3,  41,  36,  82],
       [  4,  69,  59,  43],
       [  5,  31,  52,  74],
       [  6,  71,  54,  61],
       [  7, 100,  45,  38],
       [  8,  76,  40,  76],
       [  9,  70,  35,  35],
       [ 10,  50,  60,  75],
       [ 11,  32,  65,  85],
       [ 12,  49,  66,  37],
       [ 13,  30,  37,  90],
       [ 14,  41,  86,  80],
       [ 15,  70,  44,  44],
       [ 16,  43,  74,  59],
       [ 17,  99,  82,  51],
       [ 18,  88,  69,  34],
       [ 19,  43,  71,  75],
       [ 20,  67,  57,  76],
       [ 21,  54,  46,  40],
       [ 22,  83,  42,  50],
       [ 23,  41,  77,  50],
       [ 24,  85,  36,  34],
       [ 25,  58,  90,  72],
       [ 26,  34,  70,  94],
       [ 27,  98,  87,  59],
       [ 28,  84,  94,  37],
       [ 29,  83,  76,  89],
       [ 30,  90,  74,  85],
       [ 31,  65,  90,  36],
       [ 32,  36,  55,  95],
       [ 33,  89,  37,  95],
       [ 34,  78,  95,  86],
       [ 35,  42,  77,  93],
       [ 36,  88,  36,  49],
       [ 37,  48,  40,  43],
       [ 38,  64,  84,  60],
       [ 39,  32,  31,  36],
       [ 40,  30,  40,  64],
       [ 41,  72,  82,  61],
       [ 42, 100,  39,  33],
       [ 43,  31,  92,  73],
       [ 44,  50,  91,  65],
       [ 45,  53,  56,  60],
       [ 46,  36,  70,  65],
       [ 47,  32,  40,  54],
       [ 48,  44,  34,  60],
       [ 49,  64,  69,  65],
       [ 50,  60,  73,  48],
       [ 51,  89,  54,  37],
       [ 52,  84,  93,  43],
       [ 53,  61,  31,  63],
       [ 54,  50,  37,  48],
       [ 55,  46,  61,  33],
       [ 56,  70,  52,  58],
       [ 57,  76,  54,  83],
       [ 58,  71,  33,  85],
       [ 59,  75,  72,  76],
       [ 60,  57,  66,  35],
       [ 61,  73,  37,  67],
       [ 62,  33,  33,  65],
       [ 63,  60,  48,  58],
       [ 64,  31,  78,  93],
       [ 65,  39,  35,  62],
       [ 66,  79,  72,  88],
       [ 67,  38,  51,  99],
       [ 68,  98,  97,  50],
       [ 69,  71,  46,  40],
       [ 70,  72,  67,  41],
       [ 71,  86,  40,  60],
       [ 72,  49,  74,  85],
       [ 73,  46,  35,  60],
       [ 74,  62,  39,  41],
       [ 75,  78,  93,  36],
       [ 76,  96,  61,  61],
       [ 77,  89,  66,  48],
       [ 78,  97,  35,  41],
       [ 79,  60,  92,  48],
       [ 80, 100,  71,  40],
       [ 81,  63,  55,  94],
       [ 82,  46,  92,  68],
       [ 83,  44,  63,  57],
       [ 84,  53,  51,  46],
       [ 85,  38,  67,  78],
       [ 86,  72,  41,  68],
       [ 87,  48,  42,  75],
       [ 88,  57,  97,  40],
       [ 89,  57,  63,  64],
       [ 90,  55,  41,  34],
       [ 91,  84,  77,  62],
       [ 92,  49,  59,  40],
       [ 93,  60,  95,  41],
       [ 94,  30,  79,  79],
       [ 95,  84,  78,  59],
       [ 96,  30,  50,  57],
       [ 97,  99,  47,  91],
       [ 98,  86,  51,  68],
       [ 99,  52,  86,  88],
       [100,  51,  58,  49]])

In [88]:
np.mean(df.English)   #average marks for english in overall class

np.float64(60.96)

In [89]:
np.mean(df.Maths)

np.float64(62.64)

In [90]:
np.mean(df.Science)

np.float64(60.48)

In [91]:
np.shape(df)

(100, 4)

In [92]:
np.size(df)

400

In [93]:
np.ndim(df)

2

In [94]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
Roll_No,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
Maths,93,83,41,69,31,71,100,76,70,50,...,84,49,60,30,84,30,99,86,52,51
Science,37,41,36,59,52,54,45,40,35,60,...,77,59,95,79,78,50,47,51,86,58
English,84,44,82,43,74,61,38,76,35,75,...,62,40,41,79,59,57,91,68,88,49

In [95]:
#read tsv file
df1 = pd.read_table("employee_data.tsv")
df1.head(10)

   EmpID       Name  Shift  Hours_Per_Week Employment_Type
0   3001   Worker_1    Day              40       Full-Time
1   3002   Worker_2  Night              41       Part-Time
2   3003   Worker_3    Day              42       Full-Time
3   3004   Worker_4  Night              43       Part-Time
4   3005   Worker_5    Day              44       Full-Time
5   3006   Worker_6  Night              40       Part-Time
6   3007   Worker_7    Day              41       Full-Time
7   3008   Worker_8  Night              42       Part-Time
8   3009   Worker_9    Day              43       Full-Time
9   3010  Worker_10  Night              44       Part-Time

In [96]:
np.array(df1)

array([[3001, 'Worker_1', 'Day', 40, 'Full-Time'],
       [3002, 'Worker_2', 'Night', 41, 'Part-Time'],
       [3003, 'Worker_3', 'Day', 42, 'Full-Time'],
       [3004, 'Worker_4', 'Night', 43, 'Part-Time'],
       [3005, 'Worker_5', 'Day', 44, 'Full-Time'],
       [3006, 'Worker_6', 'Night', 40, 'Part-Time'],
       [3007, 'Worker_7', 'Day', 41, 'Full-Time'],
       [3008, 'Worker_8', 'Night', 42, 'Part-Time'],
       [3009, 'Worker_9', 'Day', 43, 'Full-Time'],
       [3010, 'Worker_10', 'Night', 44, 'Part-Time'],
       [3011, 'Worker_11', 'Day', 40, 'Full-Time'],
       [3012, 'Worker_12', 'Night', 41, 'Part-Time'],
       [3013, 'Worker_13', 'Day', 42, 'Full-Time'],
       [3014, 'Worker_14', 'Night', 43, 'Part-Time'],
       [3015, 'Worker_15', 'Day', 44, 'Full-Time'],
       [3016, 'Worker_16', 'Night', 40, 'Part-Time'],
       [3017, 'Worker_17', 'Day', 41, 'Full-Time'],
       [3018, 'Worker_18', 'Night', 42, 'Part-Time'],
       [3019, 'Worker_19', 'Day', 43, 'Full-Time'],
       [3020, 'Worker_20', 'Night', 44, 'Part-Time'],
       [3021, 'Worker_21', 'Day', 40, 'Full-Time'],
       [3022, 'Worker_22', 'Night', 41, 'Part-Time'],
       [3023, 'Worker_23', 'Day', 42, 'Full-Time'],
       [3024, 'Worker_24', 'Night', 43, 'Part-Time'],
       [3025, 'Worker_25', 'Day', 44, 'Full-Time'],
       [3026, 'Worker_26', 'Night', 40, 'Part-Time'],
       [3027, 'Worker_27', 'Day', 41, 'Full-Time'],
       [3028, 'Worker_28', 'Night', 42, 'Part-Time'],
       [3029, 'Worker_29', 'Day', 43, 'Full-Time'],
       [3030, 'Worker_30', 'Night', 44, 'Part-Time']], dtype=object)

Concatenating 2 df using np

In [97]:
np.concatenate((df,df1), axis = 1)
#as row of df is not same as df1
#we need to perform slicing

ValueError: all the input array dimensions except for the concatenation axis must match exactly, but along dimension 0, the array at index 0 has size 100 and the array at index 1 has size 30

In [98]:
new_df = df[:30]
new_df

    Roll_No  Maths  Science  English
0         1     93       37       84
1         2     83       41       44
2         3     41       36       82
3         4     69       59       43
4         5     31       52       74
5         6     71       54       61
6         7    100       45       38
7         8     76       40       76
8         9     70       35       35
9        10     50       60       75
10       11     32       65       85
11       12     49       66       37
12       13     30       37       90
13       14     41       86       80
14       15     70       44       44
15       16     43       74       59
16       17     99       82       51
17       18     88       69       34
18       19     43       71       75
19       20     67       57       76
20       21     54       46       40
21       22     83       42       50
22       23     41       77       50
23       24     85       36       34
24       25     58       90       72
25       26     34       70       94
26       27     98       87       59
27       28     84       94       37
28       29     83       76       89
29       30     90       74       85

In [99]:
a = np.concatenate((new_df,df1), axis = 1,)
a

array([[1, 93, 37, 84, 3001, 'Worker_1', 'Day', 40, 'Full-Time'],
       [2, 83, 41, 44, 3002, 'Worker_2', 'Night', 41, 'Part-Time'],
       [3, 41, 36, 82, 3003, 'Worker_3', 'Day', 42, 'Full-Time'],
       [4, 69, 59, 43, 3004, 'Worker_4', 'Night', 43, 'Part-Time'],
       [5, 31, 52, 74, 3005, 'Worker_5', 'Day', 44, 'Full-Time'],
       [6, 71, 54, 61, 3006, 'Worker_6', 'Night', 40, 'Part-Time'],
       [7, 100, 45, 38, 3007, 'Worker_7', 'Day', 41, 'Full-Time'],
       [8, 76, 40, 76, 3008, 'Worker_8', 'Night', 42, 'Part-Time'],
       [9, 70, 35, 35, 3009, 'Worker_9', 'Day', 43, 'Full-Time'],
       [10, 50, 60, 75, 3010, 'Worker_10', 'Night', 44, 'Part-Time'],
       [11, 32, 65, 85, 3011, 'Worker_11', 'Day', 40, 'Full-Time'],
       [12, 49, 66, 37, 3012, 'Worker_12', 'Night', 41, 'Part-Time'],
       [13, 30, 37, 90, 3013, 'Worker_13', 'Day', 42, 'Full-Time'],
       [14, 41, 86, 80, 3014, 'Worker_14', 'Night', 43, 'Part-Time'],
       [15, 70, 44, 44, 3015, 'Worker_15', 'Day', 44, 'Full-Time'],
       [16, 43, 74, 59, 3016, 'Worker_16', 'Night', 40, 'Part-Time'],
       [17, 99, 82, 51, 3017, 'Worker_17', 'Day', 41, 'Full-Time'],
       [18, 88, 69, 34, 3018, 'Worker_18', 'Night', 42, 'Part-Time'],
       [19, 43, 71, 75, 3019, 'Worker_19', 'Day', 43, 'Full-Time'],
       [20, 67, 57, 76, 3020, 'Worker_20', 'Night', 44, 'Part-Time'],
       [21, 54, 46, 40, 3021, 'Worker_21', 'Day', 40, 'Full-Time'],
       [22, 83, 42, 50, 3022, 'Worker_22', 'Night', 41, 'Part-Time'],
       [23, 41, 77, 50, 3023, 'Worker_23', 'Day', 42, 'Full-Time'],
       [24, 85, 36, 34, 3024, 'Worker_24', 'Night', 43, 'Part-Time'],
       [25, 58, 90, 72, 3025, 'Worker_25', 'Day', 44, 'Full-Time'],
       [26, 34, 70, 94, 3026, 'Worker_26', 'Night', 40, 'Part-Time'],
       [27, 98, 87, 59, 3027, 'Worker_27', 'Day', 41, 'Full-Time'],
       [28, 84, 94, 37, 3028, 'Worker_28', 'Night', 42, 'Part-Time'],
       [29, 83, 76, 89, 3029, 'Worker_29', 'Day', 43, 'Full-Time'],
       [30, 90, 74, 85, 3030, 'Worker_30', 'Night', 44, 'Part-Time']],
      dtype=object)

In [100]:
df2 = pd.DataFrame(a, columns=list(new_df.columns) + list(df1.columns))      #column names also included
df2

,Roll_No,Maths,Science,English,EmpID,Name,Shift,Hours_Per_Week,Employment_Type
0,1,93,37,84,3001,Worker_1,Day,40,Full-Time
1,2,83,41,44,3002,Worker_2,Night,41,Part-Time
2,3,41,36,82,3003,Worker_3,Day,42,Full-Time
3,4,69,59,43,3004,Worker_4,Night,43,Part-Time
4,5,31,52,74,3005,Worker_5,Day,44,Full-Time
5,6,71,54,61,3006,Worker_6,Night,40,Part-Time
6,7,100,45,38,3007,Worker_7,Day,41,Full-Time
7,8,76,40,76,3008,Worker_8,Night,42,Part-Time
8,9,70,35,35,3009,Worker_9,Day,43,Full-Time
9,10,50,60,75,3010,Worker_10,Night,44,Part-Time
10,11,32,65,85,3011,Worker_11,Day,40,Full-Time
11,12,49,66,37,3012,Worker_12,Night,41,Part-Time
12,13,30,37,90,3013,Worker_13,Day,42,Full-Time
13,14,41,86,80,3014,Worker_14,Night,43,Part-Time
14,15,70,44,44,3015,Worker_15,Day,44,Full-Time
15,16,43,74,59,3016,Worker_16,Night,40,Part-Time
16,17,99,82,51,3017,Worker_17,Day,41,Full-Time
17,18,88,69,34,3018,Worker_18,Night,42,Part-Time
18,19,43,71,75,3019,Worker_19,Day,43,Full-Time
19,20,67,57,76,3020,Worker_20,Night,44,Part-Time
20,21,54,46,40,3021,Worker_21,Day,40,Full-Time
21,22,83,42,50,3022,Worker_22,Night,41,Part-Time
22,23,41,77,50,3023,Worker_23,Day,42,Full-Time
23,24,85,36,34,3024,Worker_24,Night,43,Part-Time
24,25,58,90,72,3025,Worker_25,Day,44,Full-Time
25,26,34,70,94,3026,Worker_26,Night,40,Part-Time
26,27,98,87,59,3027,Worker_27,Day,41,Full-Time
27,28,84,94,37,3028,Worker_28,Night,42,Part-Time
28,29,83,76,89,3029,Worker_29,Day,43,Full-Time
29,30,90,74,85,3030,Worker_30,Night,44,Part-Time

Concatenating 2 new df's using np

In [101]:
#read CSV file
df3 = pd.read_csv("employee_data1.csv")
df3

,EmpID,Name,Department,City,Email
0,2001,Michael Brown,Sales,New York,michael.brown@company.com
1,2002,Sophia Wilson,Support,Chicago,sophia.wilson@company.com
2,2003,James Anderson,Logistics,Dallas,james.anderson@company.com
3,2004,Emma Thomas,Operations,Seattle,emma.thomas@company.com
4,2005,Daniel Harris,IT,San Jose,daniel.harris@company.com
5,2006,Olivia Martin,Finance,Boston,olivia.martin@company.com
6,2007,Noah Thompson,Sales,Denver,noah.thompson@company.com
7,2008,Ava Garcia,HR,Miami,ava.garcia@company.com
8,2009,Liam Martinez,Marketing,Los Angeles,liam.martinez@company.com
9,2010,Isabella Rodriguez,IT,Austin,isabella.rodriguez@company.com
10,2011,Ethan Lee,Support,San Diego,ethan.lee@company.com
11,2012,Mia Walker,Finance,Atlanta,mia.walker@company.com
12,2013,Lucas Hall,Operations,Phoenix,lucas.hall@company.com
13,2014,Amelia Allen,HR,Orlando,amelia.allen@company.com
14,2015,Benjamin Young,Sales,Houston,benjamin.young@company.com
15,2016,Charlotte King,Marketing,San Francisco,charlotte.king@company.com
16,2017,Henry Wright,IT,Redmond,henry.wright@company.com
17,2018,Evelyn Lopez,Support,El Paso,evelyn.lopez@company.com
18,2019,Alexander Hill,Finance,Detroit,alexander.hill@company.com
19,2020,Harper Scott,Logistics,Memphis,harper.scott@company.com
20,2021,Sebastian Green,Operations,Portland,sebastian.green@company.com
21,2022,Ella Adams,HR,Tampa,ella.adams@company.com
22,2023,Jack Baker,Sales,Cleveland,jack.baker@company.com
23,2024,Abigail Nelson,Marketing,San Mateo,abigail.nelson@company.com
24,2025,Daniel Carter,IT,Raleigh,daniel.carter@company.com
25,2026,Emily Mitchell,Finance,Madison,emily.mitchell@company.com
26,2027,Matthew Perez,Support,Fresno,matthew.perez@company.com
27,2028,Sofia Roberts,Logistics,Boise,sofia.roberts@company.com
28,2029,Joseph Turner,Operations,Spokane,joseph.turner@company.com
29,2030,Grace Phillips,HR,Columbus,grace.phillips@company.com

In [102]:
b = np.concatenate((df1,df3), axis = 1)
df3 = pd.DataFrame(b, columns=list(df1.columns) + list(df3.columns))
df3

,EmpID,Name,Shift,Hours_Per_Week,Employment_Type,EmpID,Name,Department,City,Email
0,3001,Worker_1,Day,40,Full-Time,2001,Michael Brown,Sales,New York,michael.brown@company.com
1,3002,Worker_2,Night,41,Part-Time,2002,Sophia Wilson,Support,Chicago,sophia.wilson@company.com
2,3003,Worker_3,Day,42,Full-Time,2003,James Anderson,Logistics,Dallas,james.anderson@company.com
3,3004,Worker_4,Night,43,Part-Time,2004,Emma Thomas,Operations,Seattle,emma.thomas@company.com
4,3005,Worker_5,Day,44,Full-Time,2005,Daniel Harris,IT,San Jose,daniel.harris@company.com
5,3006,Worker_6,Night,40,Part-Time,2006,Olivia Martin,Finance,Boston,olivia.martin@company.com
6,3007,Worker_7,Day,41,Full-Time,2007,Noah Thompson,Sales,Denver,noah.thompson@company.com
7,3008,Worker_8,Night,42,Part-Time,2008,Ava Garcia,HR,Miami,ava.garcia@company.com
8,3009,Worker_9,Day,43,Full-Time,2009,Liam Martinez,Marketing,Los Angeles,liam.martinez@company.com
9,3010,Worker_10,Night,44,Part-Time,2010,Isabella Rodriguez,IT,Austin,isabella.rodriguez@company.com
10,3011,Worker_11,Day,40,Full-Time,2011,Ethan Lee,Support,San Diego,ethan.lee@company.com
11,3012,Worker_12,Night,41,Part-Time,2012,Mia Walker,Finance,Atlanta,mia.walker@company.com
12,3013,Worker_13,Day,42,Full-Time,2013,Lucas Hall,Operations,Phoenix,lucas.hall@company.com
13,3014,Worker_14,Night,43,Part-Time,2014,Amelia Allen,HR,Orlando,amelia.allen@company.com
14,3015,Worker_15,Day,44,Full-Time,2015,Benjamin Young,Sales,Houston,benjamin.young@company.com
15,3016,Worker_16,Night,40,Part-Time,2016,Charlotte King,Marketing,San Francisco,charlotte.king@company.com
16,3017,Worker_17,Day,41,Full-Time,2017,Henry Wright,IT,Redmond,henry.wright@company.com
17,3018,Worker_18,Night,42,Part-Time,2018,Evelyn Lopez,Support,El Paso,evelyn.lopez@company.com
18,3019,Worker_19,Day,43,Full-Time,2019,Alexander Hill,Finance,Detroit,alexander.hill@company.com
19,3020,Worker_20,Night,44,Part-Time,2020,Harper Scott,Logistics,Memphis,harper.scott@company.com
20,3021,Worker_21,Day,40,Full-Time,2021,Sebastian Green,Operations,Portland,sebastian.green@company.com
21,3022,Worker_22,Night,41,Part-Time,2022,Ella Adams,HR,Tampa,ella.adams@company.com
22,3023,Worker_23,Day,42,Full-Time,2023,Jack Baker,Sales,Cleveland,jack.baker@company.com
23,3024,Worker_24,Night,43,Part-Time,2024,Abigail Nelson,Marketing,San Mateo,abigail.nelson@company.com
24,3025,Worker_25,Day,44,Full-Time,2025,Daniel Carter,IT,Raleigh,daniel.carter@company.com
25,3026,Worker_26,Night,40,Part-Time,2026,Emily Mitchell,Finance,Madison,emily.mitchell@company.com
26,3027,Worker_27,Day,41,Full-Time,2027,Matthew Perez,Support,Fresno,matthew.perez@company.com
27,3028,Worker_28,Night,42,Part-Time,2028,Sofia Roberts,Logistics,Boise,sofia.roberts@company.com
28,3029,Worker_29,Day,43,Full-Time,2029,Joseph Turner,Operations,Spokane,joseph.turner@company.com
29,3030,Worker_30,Night,44,Part-Time,2030,Grace Phillips,HR,Columbus,grace.phillips@company.com