In [ ]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('students_record.csv')
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,Roll_No,Student_Name,Gender,Age,Course,Subject,Email,Phone,Admission_Date,Attendance_%,GPA,Status
1,1,Aarav Sharma,Male,20,BSc IT,Database Systems,aarav.sharma@gmail.com,9876543210,2022-08-01,85,3.4,Active
2,2,Ananya Verma,Female,NaN,BSc IT,Operating Systems,ananya.verma@gmail.com,9876543211,2022-08-03,78,3.1,Active
3,3,Rohan Mehta,Male,19,BCA,Programming in C,NaN,9876543212,2023-07-15,92,3.8,Active
4,4,Priya Singh,Female,22,BBA,Marketing Management,priya.singh@gmail.com,NaN,2021-08-10,65,2.6,Inactive

**1. DATA CLEANING**

**Reseting Columns**

In [ ]:
col = ["Roll_No","Student_Name","Gender","Age","Course","Subject","Email","Phone","Admission_Date","Attendance_%","GPA","Status" ]
df = pd.read_csv('students_record.csv', header = None, names = col)     #header = none -> there will be no old header, the old headers will be shifted one cell down
df.head()

,Roll_No,Student_Name,Gender,Age,Course,Subject,Email,Phone,Admission_Date,Attendance_%,GPA,Status
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Roll_No,Student_Name,Gender,Age,Course,Subject,Email,Phone,Admission_Date,Attendance_%,GPA,Status
2,1,Aarav Sharma,Male,20,BSc IT,Database Systems,aarav.sharma@gmail.com,9876543210,2022-08-01,85,3.4,Active
3,2,Ananya Verma,Female,NaN,BSc IT,Operating Systems,ananya.verma@gmail.com,9876543211,2022-08-03,78,3.1,Active
4,3,Rohan Mehta,Male,19,BCA,Programming in C,NaN,9876543212,2023-07-15,92,3.8,Active

In [ ]:
df.drop(index=[0,1], inplace=True)
df.head()

,Roll_No,Student_Name,Gender,Age,Course,Subject,Email,Phone,Admission_Date,Attendance_%,GPA,Status
2,1,Aarav Sharma,Male,20,BSc IT,Database Systems,aarav.sharma@gmail.com,9876543210,2022-08-01,85,3.4,Active
3,2,Ananya Verma,Female,NaN,BSc IT,Operating Systems,ananya.verma@gmail.com,9876543211,2022-08-03,78,3.1,Active
4,3,Rohan Mehta,Male,19,BCA,Programming in C,NaN,9876543212,2023-07-15,92,3.8,Active
5,4,Priya Singh,Female,22,BBA,Marketing Management,priya.singh@gmail.com,NaN,2021-08-10,65,2.6,Inactive
6,5,Aditya Patel,Male,20,BCA,Data Structures,aditya.patel@gmail.com,9876543214,2023-07-18,NaN,3.5,Active

**Resetting Index**

In [ ]:
df.set_index("Roll_No", inplace = True)
df.head()

,Student_Name,Gender,Age,Course,Subject,Email,Phone,Admission_Date,Attendance_%,GPA,Status
Roll_No,,,,,,,,,,,
1,Aarav Sharma,Male,20,BSc IT,Database Systems,aarav.sharma@gmail.com,9876543210,2022-08-01,85,3.4,Active
2,Ananya Verma,Female,NaN,BSc IT,Operating Systems,ananya.verma@gmail.com,9876543211,2022-08-03,78,3.1,Active
3,Rohan Mehta,Male,19,BCA,Programming in C,NaN,9876543212,2023-07-15,92,3.8,Active
4,Priya Singh,Female,22,BBA,Marketing Management,priya.singh@gmail.com,NaN,2021-08-10,65,2.6,Inactive
5,Aditya Patel,Male,20,BCA,Data Structures,aditya.patel@gmail.com,9876543214,2023-07-18,NaN,3.5,Active

**Handling Missing Values**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60 entries, 1 to 60
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Student_Name    60 non-null     object
 1   Gender          60 non-null     object
 2   Age             49 non-null     object
 3   Course          60 non-null     object
 4   Subject         58 non-null     object
 5   Email           43 non-null     object
 6   Phone           46 non-null     object
 7   Admission_Date  60 non-null     object
 8   Attendance_%    52 non-null     object
 9   GPA             52 non-null     object
 10  Status          55 non-null     object
dtypes: object(11)
memory usage: 5.6+ KB

In [ ]:
df.isnull().sum()

Student_Name       0
Gender             0
Age               11
Course             0
Subject            2
Email             17
Phone             14
Admission_Date     0
Attendance_%       8
GPA                8
Status             5
dtype: int64

In [ ]:
df.head(20)

,Student_Name,Gender,Age,Course,Subject,Email,Phone,Admission_Date,Attendance_%,GPA,Status
Roll_No,,,,,,,,,,,
1,Aarav Sharma,Male,20,BSc IT,Database Systems,aarav.sharma@gmail.com,9876543210,2022-08-01,85,3.4,Active
2,Ananya Verma,Female,NaN,BSc IT,Operating Systems,ananya.verma@gmail.com,9876543211,2022-08-03,78,3.1,Active
3,Rohan Mehta,Male,19,BCA,Programming in C,NaN,9876543212,2023-07-15,92,3.8,Active
4,Priya Singh,Female,22,BBA,Marketing Management,priya.singh@gmail.com,NaN,2021-08-10,65,2.6,Inactive
5,Aditya Patel,Male,20,BCA,Data Structures,aditya.patel@gmail.com,9876543214,2023-07-18,NaN,3.5,Active
6,Neha Gupta,Female,21,BSc IT,Computer Networks,NaN,9876543215,2022-08-05,74,3.0,Active
7,Kunal Joshi,Male,23,BBA,Financial Accounting,kunal.joshi@gmail.com,9876543216,2021-08-12,58,NaN,Dropped
8,Ishita Kapoor,Female,19,BCA,Java Programming,ishita.k@gmail.com,9876543217,2023-07-20,91,3.9,NaN
9,Manish Rao,Male,NaN,BSc IT,Web Technologies,manish.rao@gmail.com,9876543218,2022-08-08,69,2.8,Active
10,Sneha Iyer,Female,20,BBA,NaN,sneha.iyer@gmail.com,9876543219,2022-08-15,83,3.3,Active
11,Arjun Nair,Male,21,BCA,Python Programming,arjun.nair@gmail.com,NaN,2023-07-22,95,4.0,Active
12,Kavya Malhotra,Female,22,BSc IT,Software Engineering,NaN,9876543221,2022-08-20,72,NaN,Active
13,Deepak Yadav,Male,24,BBA,Business Analytics,deepak.y@gmail.com,9876543222,2021-08-18,NaN,2.4,Inactive
14,Simran Kaur,Female,NaN,BCA,Data Structures,simran.kaur@gmail.com,9876543223,2023-07-25,89,3.6,Active
15,Vikas Mishra,Male,21,BSc IT,Cloud Computing,vikas.m@gmail.com,NaN,2022-08-25,77,3.1,NaN
16,Pooja Chawla,Female,23,BBA,Entrepreneurship,NaN,9876543225,2021-08-22,55,2.0,Dropped
17,Rahul Das,Male,19,BCA,Computer Fundamentals,rahul.d@gmail.com,9876543226,2023-07-28,84,NaN,Active
18,Nidhi Agarwal,Female,21,BSc IT,Cyber Security,nidhi.a@gmail.com,9876543227,2022-08-30,90,3.7,Active
19,Sachin Bansal,Male,22,BBA,Operations Management,NaN,9876543228,2021-08-28,67,2.7,Inactive
20,Aditi Kulkarni,Female,20,BCA,Web Development,aditi.k@gmail.com,NaN,2023-08-01,93,3.9,Active

In [ ]:
#as the age dtype is object we have to change it to int first so later we can replace the null values
df.replace("NaN", np.nan, inplace=True)
df.replace("Na", np.nan, inplace=True)
df.replace("inf", np.nan, inplace=True)
df["Age"] = pd.to_numeric(df["Age"], errors='coerce')

# Fill NaN values in 'Age' with the mean before converting to integer
df["Age"] = df["Age"].fillna(df["Age"].mean())

df["Age"] = df["Age"].astype(int)
df.head()

,Student_Name,Gender,Age,Course,Subject,Email,Phone,Admission_Date,Attendance_%,GPA,Status
Roll_No,,,,,,,,,,,
1,Aarav Sharma,Male,20,BSc IT,Database Systems,aarav.sharma@gmail.com,9876543210,2022-08-01,85,3.4,Active
2,Ananya Verma,Female,21,BSc IT,Operating Systems,ananya.verma@gmail.com,9876543211,2022-08-03,78,3.1,Active
3,Rohan Mehta,Male,19,BCA,Programming in C,NaN,9876543212,2023-07-15,92,3.8,Active
4,Priya Singh,Female,22,BBA,Marketing Management,priya.singh@gmail.com,NaN,2021-08-10,65,2.6,Inactive
5,Aditya Patel,Male,20,BCA,Data Structures,aditya.patel@gmail.com,9876543214,2023-07-18,NaN,3.5,Active

In [ ]:
#as the attendance dtype is object we have to change it to int first so later we can replace the null values
df.replace("NaN", np.nan, inplace=True)
df.replace("Na", np.nan, inplace=True)
df.replace("inf", np.nan, inplace=True)
df["Attendance_%"] = pd.to_numeric(df["Attendance_%"], errors='coerce')

# Fill NaN values in 'Age' with the mean before converting to integer
df["Attendance_%"] = df["Attendance_%"].fillna(df["Attendance_%"].mean())
df["Attendance_%"] = df["Attendance_%"].astype(float)
df["Attendance_%"] = df["Attendance_%"].round(2)
df.head()

,Student_Name,Gender,Age,Course,Subject,Email,Phone,Admission_Date,Attendance_%,GPA,Status
Roll_No,,,,,,,,,,,
1,Aarav Sharma,Male,20,BSc IT,Database Systems,aarav.sharma@gmail.com,9876543210,2022-08-01,85.00,3.4,Active
2,Ananya Verma,Female,21,BSc IT,Operating Systems,ananya.verma@gmail.com,9876543211,2022-08-03,78.00,3.1,Active
3,Rohan Mehta,Male,19,BCA,Programming in C,NaN,9876543212,2023-07-15,92.00,3.8,Active
4,Priya Singh,Female,22,BBA,Marketing Management,priya.singh@gmail.com,NaN,2021-08-10,65.00,2.6,Inactive
5,Aditya Patel,Male,20,BCA,Data Structures,aditya.patel@gmail.com,9876543214,2023-07-18,79.62,3.5,Active

In [ ]:
df["Subject"] = df["Subject"].fillna(df["Subject"].mode()[0])
df.head()

,Student_Name,Gender,Age,Course,Subject,Email,Phone,Admission_Date,Attendance_%,GPA,Status
Roll_No,,,,,,,,,,,
1,Aarav Sharma,Male,20,BSc IT,Database Systems,aarav.sharma@gmail.com,9876543210,2022-08-01,85.00,3.4,Active
2,Ananya Verma,Female,21,BSc IT,Operating Systems,ananya.verma@gmail.com,9876543211,2022-08-03,78.00,3.1,Active
3,Rohan Mehta,Male,19,BCA,Programming in C,NaN,9876543212,2023-07-15,92.00,3.8,Active
4,Priya Singh,Female,22,BBA,Marketing Management,priya.singh@gmail.com,NaN,2021-08-10,65.00,2.6,Inactive
5,Aditya Patel,Male,20,BCA,Data Structures,aditya.patel@gmail.com,9876543214,2023-07-18,79.62,3.5,Active

**DATA MANIPULATION**

Changing Active/Inactive Status according to Attendance_%

In [ ]:
df["Status"].value_counts()

Status
Active      40
Inactive    11
Dropped      4
Name: count, dtype: int64

In [ ]:
mask = df["Status"] == "Dropped"          #masking
df[mask]

,Student_Name,Gender,Age,Course,Subject,Email,Phone,Admission_Date,Attendance_%,GPA,Status
Roll_No,,,,,,,,,,,
7,Kunal Joshi,Male,23,BBA,Financial Accounting,kunal.joshi@gmail.com,9876543216,2021-08-12,58.00,NaN,Dropped
16,Pooja Chawla,Female,23,BBA,Entrepreneurship,NaN,9876543225,2021-08-22,55.00,2.0,Dropped
28,Meenal Shah,Female,24,BBA,International Business,meenal.s@gmail.com,9876543237,2021-09-12,79.62,2.3,Dropped
48,Swati Kulkarni,Female,23,BBA,Supply Chain,NaN,9876543257,2021-10-15,59.00,2.4,Dropped

In [ ]:

'''for i in df["Attendance_%"]:
    if i >= 75.00:
        df["Status"].index[i] = "Active"
    else:
        df["Status"].index[i] = "Inactive"
df.head(20)'''


'''df["Status"] = np.where(df["Attendance_%"] >= 75.00, "Active", "Inactive")
df.head(20)'''

'''if (df["Status"] == "Dropped"):
  Continue
else:
  mask = df["Status"] != "Dropped"
  df["Status"] = np.where(df.loc[mask, "Attendance_%"] >= 75.00, "Active", "Inactive")
df.head(20)'''

'if (df["Status"] == "Dropped"):\n  Continue\nelse:\n  mask = df["Status"] != "Dropped" \n  df["Status"] = np.where(df.loc[mask, "Attendance_%"] >= 75.00, "Active", "Inactive")\ndf.head(20)'

In [ ]:
# Removing Unnecessary Space
df['Status'] = df['Status'].str.strip()

not_dropped = df['Status'] != 'Dropped' #masking

# 5. Update Status only for those who are not dropped
df.loc[not_dropped & (df['Attendance_%'] >= 75), 'Status'] = 'Active'
df.loc[not_dropped & (df['Attendance_%'] < 75), 'Status'] = 'Inactive'

df.head(20)

,Student_Name,Gender,Age,Course,Subject,Email,Phone,Admission_Date,Attendance_%,GPA,Status
Roll_No,,,,,,,,,,,
1,Aarav Sharma,Male,20,BSc IT,Database Systems,aarav.sharma@gmail.com,9876543210,2022-08-01,85.00,3.4,Active
2,Ananya Verma,Female,21,BSc IT,Operating Systems,ananya.verma@gmail.com,9876543211,2022-08-03,78.00,3.1,Active
3,Rohan Mehta,Male,19,BCA,Programming in C,NaN,9876543212,2023-07-15,92.00,3.8,Active
4,Priya Singh,Female,22,BBA,Marketing Management,priya.singh@gmail.com,NaN,2021-08-10,65.00,2.6,Inactive
5,Aditya Patel,Male,20,BCA,Data Structures,aditya.patel@gmail.com,9876543214,2023-07-18,79.62,3.5,Active
6,Neha Gupta,Female,21,BSc IT,Computer Networks,NaN,9876543215,2022-08-05,74.00,3.0,Inactive
7,Kunal Joshi,Male,23,BBA,Financial Accounting,kunal.joshi@gmail.com,9876543216,2021-08-12,58.00,NaN,Dropped
8,Ishita Kapoor,Female,19,BCA,Java Programming,ishita.k@gmail.com,9876543217,2023-07-20,91.00,3.9,Active
9,Manish Rao,Male,21,BSc IT,Web Technologies,manish.rao@gmail.com,9876543218,2022-08-08,69.00,2.8,Inactive
10,Sneha Iyer,Female,20,BBA,Data Structures,sneha.iyer@gmail.com,9876543219,2022-08-15,83.00,3.3,Active
11,Arjun Nair,Male,21,BCA,Python Programming,arjun.nair@gmail.com,NaN,2023-07-22,95.00,4.0,Active
12,Kavya Malhotra,Female,22,BSc IT,Software Engineering,NaN,9876543221,2022-08-20,72.00,NaN,Inactive
13,Deepak Yadav,Male,24,BBA,Business Analytics,deepak.y@gmail.com,9876543222,2021-08-18,79.62,2.4,Active
14,Simran Kaur,Female,21,BCA,Data Structures,simran.kaur@gmail.com,9876543223,2023-07-25,89.00,3.6,Active
15,Vikas Mishra,Male,21,BSc IT,Cloud Computing,vikas.m@gmail.com,NaN,2022-08-25,77.00,3.1,Active
16,Pooja Chawla,Female,23,BBA,Entrepreneurship,NaN,9876543225,2021-08-22,55.00,2.0,Dropped
17,Rahul Das,Male,19,BCA,Computer Fundamentals,rahul.d@gmail.com,9876543226,2023-07-28,84.00,NaN,Active
18,Nidhi Agarwal,Female,21,BSc IT,Cyber Security,nidhi.a@gmail.com,9876543227,2022-08-30,90.00,3.7,Active
19,Sachin Bansal,Male,22,BBA,Operations Management,NaN,9876543228,2021-08-28,67.00,2.7,Inactive
20,Aditi Kulkarni,Female,20,BCA,Web Development,aditi.k@gmail.com,NaN,2023-08-01,93.00,3.9,Active

In [ ]:
df["Status"].value_counts()

Status
Active      42
Inactive    14
Dropped      4
Name: count, dtype: int64

In [ ]:
df.isnull().sum()

Student_Name       0
Gender             0
Age                0
Course             0
Subject            0
Email             17
Phone             14
Admission_Date     0
Attendance_%       0
GPA                8
Status             0
dtype: int64

Sorting Student_Names According to Alphabetical Orders

In [ ]:
df = df.sort_values(by= 'Student_Name', ascending=True)

#resetting the index
df.index.name = "Roll_No"
df.reset_index(inplace=True)
df.head()

,Roll_No,Student_Name,Gender,Age,Course,Subject,Email,Phone,Admission_Date,Attendance_%,GPA,Status
0,1,Aarav Sharma,Male,20,BSc IT,Database Systems,aarav.sharma@gmail.com,9876543210,2022-08-01,85.00,3.4,Active
1,20,Aditi Kulkarni,Female,20,BCA,Web Development,aditi.k@gmail.com,NaN,2023-08-01,93.00,3.9,Active
2,5,Aditya Patel,Male,20,BCA,Data Structures,aditya.patel@gmail.com,9876543214,2023-07-18,79.62,3.5,Active
3,41,Ajay Patel,Male,21,BBA,Cost Accounting,ajay.p@gmail.com,NaN,2021-10-03,79.62,2.9,Active
4,55,Akhil Menon,Male,20,BCA,DSA,akhil.m@gmail.com,9876543264,2023-09-01,95.00,4.0,Active

In [ ]:
#Assign a new 1-based index and we'll name it 'Roll_No'
df.index = pd.RangeIndex(start=1, stop=len(df)+1, name='Roll_No')
df.head()

,Student_Name,Gender,Age,Course,Subject,Email,Phone,Admission_Date,Attendance_%,GPA,Status
Roll_No,,,,,,,,,,,
1,Aarav Sharma,Male,20,BSc IT,Database Systems,aarav.sharma@gmail.com,9876543210,2022-08-01,85.00,3.4,Active
2,Aditi Kulkarni,Female,20,BCA,Web Development,aditi.k@gmail.com,NaN,2023-08-01,93.00,3.9,Active
3,Aditya Patel,Male,20,BCA,Data Structures,aditya.patel@gmail.com,9876543214,2023-07-18,79.62,3.5,Active
4,Ajay Patel,Male,21,BBA,Cost Accounting,ajay.p@gmail.com,NaN,2021-10-03,79.62,2.9,Active
5,Akhil Menon,Male,20,BCA,DSA,akhil.m@gmail.com,9876543264,2023-09-01,95.00,4.0,Active

Group by Using Subjects

In [ ]:
df["Subject"].value_counts()

Subject
Data Structures                4
Database Systems               1
Web Development                1
Cost Accounting                1
DSA                            1
Data Mining                    1
Economics                      1
Operating Systems              1
IT Governance                  1
DevOps Basics                  1
Python Programming             1
IT Service Mgmt                1
Business Analytics             1
International Finance          1
Big Data Analytics             1
Data Visualization             1
Java Programming               1
Cloud Security                 1
Software Engineering           1
Mobile App Dev                 1
Startup Management             1
Financial Accounting           1
Web Technologies               1
Auditing                       1
International Business         1
Software Testing               1
ASP.NET                        1
Computer Networks              1
PHP Programming                1
Cyber Security                 1
Taxation                       1
Brand Management               1
Entrepreneurship               1
Node JS                        1
Consumer Behavior              1
Unix Programming               1
Marketing Management           1
React JS                       1
Computer Fundamentals          1
Network Security               1
Algorithms                     1
Corporate Strategy             1
Digital Forensics              1
Object Oriented Programming    1
Corporate Law                  1
Programming in C               1
Linux Admin                    1
Operations Management          1
UI UX Design                   1
ML Basics                      1
Blockchain Basics              1
Strategic Mgmt                 1
Supply Chain                   1
SQL Programming                1
AI Fundamentals                1
Cloud Computing                1
Data Warehousing               1
Name: count, dtype: int64